body {
  font-family: "Barlow", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding-inline: 50px !important;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav-item {
  padding-inline: 10px;
}

.carritoIcon {
  margin: 1rem;
}

.preciototal {
  margin-right: auto !important;
}

.formu {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 94, 0, 0.753);
}

.formu-boton {
  margin: 10px;
}

.hero-M {
  min-height: 500px;
  width: auto;

  background-image: url(../img/banner-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-titulo {
  font-size: 80px;
  color: whitesmoke;
}

.main {
  min-height: 150px;
  width: auto;
}

.main-titulo {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.198);
  font-size: 45px;
  padding: 1rem;
  padding-bottom: 25px;

  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.main-parrafo {
  font-size: 20px;
  text-align: center;
}

.main-fondo {
  background-image: url(/img/fonde.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-items img {
  height: 350px;
  width: 350px;
}

.conteinerzapa {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.198);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carritoadd {
  min-height: 300px;
  min-width: 350px;
  padding: 1rem;
}

.carritoadd-title {
  text-align: center;
  font-size: 30px;
}

.imgcarritoadd {
  margin: 1rem;
  height: 150px;
  width: 150px;
}

.footerCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modeloCard {
  font-size: 32px;
}

.precioCard {
  padding-left: 1rem;
  margin: 0;
  font-size: 20px;
  margin-right: auto;
}

.btn {
  background-color: rgb(255, 77, 0) !important;
  color: #fff !important;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #fff !important;
  border: 1px solid rgb(255, 77, 0) !important;
  color: rgb(255, 77, 0) !important;
  background-color: #fff;
}

.conteiner-carrito {
  background-color: rgb(255, 77, 0);
  border-radius: 8px;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.conteiner-carrito:hover {
  color: rgb(255, 77, 0);
  background-color: #fff;
}

.buttonzapa {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(255, 77, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.buttonzapa:hover {
  border: 1px solid rgb(255, 77, 0);
  color: rgb(255, 77, 0);
  background-color: #fff;
}

.muestra-stock {
  min-height: 200px;
  width: 350px;
  background-color: rgba(214, 214, 214, 0.808);
  text-align: center;
}

.oscuro {
  background-color: black;
  color: whitesmoke;
  margin: 1rem;
}

.red {
  background-color: rgba(255, 0, 0, 0.616);
  color: black;
}

footer {
  padding: 16px;
  background-color: #14213d;
  color: #fff;
}

.pie-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
}

.pie-column1 {
  font-size: 20px;
}

.pie-derechos {
  margin: 25px 0 0 0 !important;
  text-align: center;
}

.form {
  max-width: 1200px;
  min-height: 350px;
  margin: 50px auto 2rem auto;
  border-radius: 16px;
  padding: 1.5rem;
  background-color: rgba(186, 176, 176, 0.9);
  color: #fff;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: none;

  background-color: white;
  border-radius: 8px;
}

.text-area {
  width: 100%;
  height: 87.5%;
  padding: 1rem;
  border: none;
  background: none;
  background-color: white;
  border-radius: 8px;
  resize: none;
}

.campos {
  display: flex;
}

.izq {
  width: 65%;
  padding-right: 20px;
}

.der {
  width: 35%;
}

.button {
  font-size: 20px;
  align-items: center;
  margin-top: 1rem;
  background-color: rgb(255, 77, 0);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 20%;
  min-width: fit-content;
  margin-inline: 40%;
}

.form-title {
  text-align: center;
}
